---
layout: layouts/base.njk
---

<main>
  <div class="docs-breadcrumbs">
    <a href="/">Docs</a>
    <span>›</span>
    {% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
    {% for crumb in crumbs %}
      <a href="{{ crumb.url | url }}">{{ crumb.title }}</a>
      <span>›</span>
    {% endfor %}
    <a>{{ title }}</a>
  </div>

  <h1>{{ title }}</h1>

  {{ content | safe }}

  {% if collections.all | eleventyNavigation(eleventyNavigation.key) | eleventyNavigationToHtml %}
  {% if content %}
  <p><hr></p>
  {% endif %}

  <h2>Some pages in this collection:</h2>

  {{
    collections.all |
    eleventyNavigation(eleventyNavigation.key) |
    eleventyNavigationToHtml |
    safe
  }}
{% endif %}
</main>