---
layout: layouts/base.njk
---

<header>
  <h1>
    Sargent Coding Documentation
  </h1>
  <h2>Get to learn more about Sargent Coding and its projects.</h2>
</header>

<section>
  {{
    collections.all |
    eleventyNavigation |
    eleventyNavigationToHtml |
    safe
  }}
</section>