---
layout: layouts/base.njk
---

<header>
  <h1>
    Sargent Coding Documentation
  </h1>
  <h2>Welcome to a really cool place that has lots of cool articles. (It's super cool.)</h2>
</header>

<section>
  {{
    collections.all |
    eleventyNavigation |
    eleventyNavigationToHtml |
    safe
  }}
</section>