---
layout: layouts/base.njk
---

{% set navPages = collections.all | eleventyNavigation %}
<ul>
{% for entry in navPages %}
  <li{% if entry.url == page.url %} class="active"{% endif %}>
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
  </li>
{% endfor %}
</ul>

<main>
  <div class="docs-breadcrumbs">
    <a href="/">Docs</a>
    <span>›</span>
    <a href="/accounts">Accounts</a>
    <span>›</span>
    <a>Creating an account</a>
  </div>
  
  <h1>{{ title }}</h1>
  <p class="subtitle">Written on {{ date | htmlDateString }} by {{ author }}.</p>
  
  {{ content | safe }}
</main>

















